a{
	text-decoration:none;
}

@font-face {
	font-family: "Lato", sans-serif;
}

input[readonly]{
	 cursor: no-drop;
}
input[type="submit"],input[type="reset"],button,input[type="radio"]{
	cursor:pointer;
	margin:0px 2px;
	background-color:grey;
	color:#fff;
	-webkit-transition:background 1s;
	padding:5px 10px;
}

input[type="reset"]:hover,input[type="submit"]:hover,button:hover,.submit:hover,.submit1:hover{
	background:rgba(128, 128, 128, 0.44);
	color:#fff;
}
.tambah{
	cursor:pointer;
	margin:2px 2px;
	-webkit-transition:background 1s;
	background:rgba(76, 175, 80, 0.88);
	color:white;
	font-size:18px;
	padding:7px 40px;
	border-radius:5px;	
	}
.tambah:hover{
	color:#fff;
	background:rgba(76, 175, 80, 0.50);
	}
	
.bayaran{
	cursor:pointer;
	margin:2px 2px;
	-webkit-transition:background 1s;
	background:#e91e63;
	color:white;
	font-size:18px;
	padding:7px 40px;
	border-radius:5px;	
	}
.bayaran:hover{
	color:#fff;
	background:rgba(233, 30, 99, 0.50);;
	}

.ubah{
	cursor:pointer;
	-webkit-transition:background 1s;
	background:rgba(7, 151, 255, 1);
	color:white;
	text-align:center;
	font-size:18px;
	border-radius:5px;	
	padding:1px 6px;
	}
.ubah:hover{
	color:#fff;
	background:rgba(7, 151, 255, 0.3);
	}
.hapus{
	cursor:pointer;
	text-align:center;
	-webkit-transition:background 1s;
	background:rgba(255, 7, 7, 1);
	color:white;
	padding:1px 6px;
	font-size:18px;
	border-radius:5px;	
	}
.hapus:hover{
	color:#fff;
	background:rgba(255, 7, 7, 0.3);
	}
.konfirm{
	cursor:pointer;
	text-align:center;
	-webkit-transition:background 1s;
	background:#009688;
	color:white;
	padding:1px 6px;
	font-size:18px;
	border-radius:5px;	
	}
.konfirm:hover{
	color:#fff;
	background:rgba(0, 150, 136, 0.3);;
	}
.selesai{
	cursor:pointer;
	text-align:center;
	-webkit-transition:background 1s;
	background:rgba(76, 175, 80, 1);
	color:white;
	padding:1px 6px;
	font-size:18px;
	border-radius:5px;	
	}
.selesai:hover{
	color:#fff;
	background:rgba(76, 175, 80, 0.3);
	}
	

input,textarea,select,button,.submit-data{
	font-family: Verdana,sans-serif;
	border-radius: 3px;
    padding: 5px 10px;
    margin: 10px 0px;
    border: 0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    font-size: 16px;
    box-sizing: border-box;
}

table{
	border-collapse: collapse;
	font-size: 16px;
	margin:10px;
	background:#fff;
	border-radius:5px;
	width:98%;
}

table tr td{
	padding: 14px 5px;
	text-align: center;
	border: solid 1px #ccc;
}

table th{
	padding:6px 5px;
	border:solid 1px #ccc;
	background:#3B5998;
	color:#fff;
	}
table tr:hover{
	background:rgba(230,230,230,0.5);
}

thead td{
	background:#282828;
	color:#fff;
    vertical-align: middle;
    border-color: inherit;
	padding:15px 5px !important;
	text-align:center;
	font-size:10px;
}

tr:nth-child(even){background-color: rgba(230,230,230,0.2);}
tr:nth-child(even):hover{background-color: rgba(230,230,230,0.5);}
/*table*/

/* div jumlah */
	.jumlah1{
		padding:5px 7px;
		margin:15px 5px;
		width:17%;
		height:auto;
		background:#2196F3;
		color:#fff;
		float:left;
		font-size:15px;
	}
	.jumlah1:hover{
		background-color: rgba(7, 151, 255, 0.70);
	}
	.jumlah1 h3{
		margin:0px;
	}
	
	.jumlah2{
		padding:5px 7px;
		margin:15px 5px;
		width:17%;
		height:auto;
		background:#009688;
		color:#fff;
		float:left;
		font-size:15px;
	}
	.jumlah2:hover{
		background-color: rgba(0, 150, 136, 0.70);
	}
	.jumlah2 h3{
		margin:0px;
	}
	
	
	.jumlah3{
		padding:5px 7px;
		margin:15px 5px;
		width:17%;
		height:auto;
		background:#e91e63;
		color:#fff;
		float:left;
		font-size:15px;
	}
	.jumlah3:hover{
		background-color: rgba(233, 30, 99, 0.70);
	}
	.jumlah3 h3{
		margin:0px;
	}
	
	.jumlah4{
		padding:5px 7px;
		margin:15px 5px;
		width:17%;
		height:auto;
		background:#616161;
		color:#fff;
		float:left;
		font-size:15px;
	}
	.jumlah4:hover{
		background-color: rgba(97, 97, 97, 0.70);
	}
	.jumlah4 h3{
		margin:0px;
	}

	.jumlah5{
		padding:5px 7px;
		margin:15px 5px;
		width:17%;
		height:auto;
		background:#ff6600;
		color:#fff;
		float:left;
		font-size:15px;
	}
	.jumlah5:hover{
		background-color: rgba(255, 102, 0, 0.70);
	}
	.jumlah5 h3{
		margin:0px;
	}
	.jumlah-all{
		width:98%;
		margin:0px 0px;
		padding:50px 0px 0px 27px;
	}
	@media screen and (max-width: 600px) {
	.jumlah-all{width:98%;margin:0px;padding:0px;}
	.jumlah1{width:100%;margin:15px 0px 10px 0px;}
	.jumlah2{width:100%;margin:15px 0px 10px 0px;}
	.jumlah3{width:100%;margin:15px 0px 10px 0px;}
	.jumlah4{width:100%;margin:15px 0px 10px 0px;}
	.jumlah5{width:100%;margin:15px 0px 10px 0px;}
	
}
/* div jumlah */

/* Pemberitahuan */
.atas-notif{
		padding:5px;
		margin:15px 10px;
		width:30%;
		height:250px;
		background:#fff;
		color:#000;
		float:left;
		font-size:15px;
	}
.head-notif{
		background:#aad123;
		color:#fff;
		padding:10px;
		text-align:center;
		font-weight:bold;
		font-size:20px;
}

.alert{padding:7px;margin-bottom:5px;margin-top:5px;border:1px solid transparent;border-radius:4px}.alert h4{margin-top:0;color:inherit}.alert .alert-link{font-weight:700}.alert>p,.alert>ul{margin-bottom:0}.alert>p+p{margin-top:5px}.alert-dismissable,.alert-dismissible{padding-right:35px}.alert-dismissable .close,.alert-dismissible .close{position:relative;top:-2px;right:-21px;color:inherit}.alert-success{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}.alert-success hr{border-top-color:#c9e2b3}.alert-success .alert-link{color:#2b542c}.alert-info{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}.alert-info hr{border-top-color:#a6e1ec}.alert-info .alert-link{color:#245269}.alert-warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}.alert-warning hr{border-top-color:#f7e1b5}.alert-warning .alert-link{color:#66512c}.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1}.alert-danger hr{border-top-color:#e4b9c0}.alert-danger .alert-link{color:#843534}
/* Pemberitahuan */

	
	/* THANKS */
	.thanks{
		background:#ff6600;
		color:#fff;
		width:50%;
		padding:30px 10px;
		margin:40px 0px;
	}
	.thanks a{
		color:#ccc;
		font-weight:bold;
		text-decoration:underline;
	}
	/* THANKS*/
	
	.jarak{
	
	}
	
	/*Pagination*/
		.pagination{
			width:100px;
			height:auto;
			padding:10px 20px;
			margin:0px 10px;
			background:#ff6600;
			color:#fff;
		}
		.pagination:hover{
		background-color: rgba(255, 102, 0, 0.70);
	}
	
	/*Pagination*/